.recent-list-img {
    height: 40px;
    width: 40px;
}

.recent-li-list {
    margin-bottom: 14px;
    height: 80px;
    border-bottom: 1px solid black;
    margin-left: -41px;
    display: flex;
    flex-direction: row;
    
}

.recent-list-block {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.recent-list-tag-decrip {
    font-size: 15px;
}

.recent-list-tag-time {
    color: gray;
    font-size: 10px;
}