.dash {
    position: relative;
    min-height: 100%;
    height: 100%;
    overflow: visible;
    width: 960px;
    margin: -33px auto 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.activity-top {
    position: absolute;
    left: 190px;
    top: 52px;
}


.activity-main {
    border: 1px solid #ccc;
    background-color: #eeeeee;
    box-shadow: #e8e8e8 0px 1px 2px 0px;
    margin-bottom: 30px;
    margin-top: -16px;
    height: 60px;
    width: 560px;
    display: flex;
}

.activity-header {
    margin-top: 9px;
    margin-left: 13px;
}

.activity-center {
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-shadow: #e8e8e8 0px 1px 2px 0px;
    width: 560px;
    height: 671px;
    margin-top: -31px;
}

.user-pic {
    margin-top: 57px;
    margin-left: 26px;
}

.fresh-user {
    display: flex;
    flex-direction: row;
}

.act-center-words {
    width: 309px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -9px;
    height: 253px;
}

.activity-add-friends {
    text-decoration: none;
    color: white;
    background: #ff652f;
    border: 1px solid #e65928;
    width: 221px;
    box-shadow: #e65928 0px 1px 2px 0px;
    font-size: 17px;
    height: 26px;
}

.plus-friend-btn {
    margin-right: 5px;
    margin-top: 4px;
}

.friend-btn-user-icon {
    margin-right: 5px;
    margin-top: 4px;
}

.bill {
    font-size: 15px;
    border: 1px solid #e65828;
    background: #ff652f;
    color: white;
    height: 33px;
    width: 89px;
    margin-top: 11px;
    margin-left: 180px;
    box-sizing: border-box;
    box-shadow: #e65928 0px 1px 2px 0px;
    text-shadow: rgba(0,0,0,.4) 0 -1px 0;
}

.sttl {
    font-size: 16px;
    border-top: 1px solid #50b195;
    border-bottom: 1px solid #42937c; 
    background:  #5cc4a6;
    color: #fff;
    box-shadow: #39a385 0px 1px 2px 0px;
    text-shadow: rgba(0,0,0,.4) 0 -1px 0;
    width: 66px;
    height: 21px;
    margin-top: 11px;
    margin-left: 16px;
}