.footer {
    display: flex;
    background: #666;
    margin: 0; 
    height: 115px;
    width: 100%;
}

.smiles {
    color: white;
    font-size: 26px;
    margin-left: 504px;
    display: block;
    width: 379px;
    padding: 10px;
    margin-top: 25px;
    text-shadow: rgba(0,0,0,.4) 0 -2px 0;
}

.below-component {
    height: 29px;
    margin-left: -8px;
    margin-top: 200px;
}

.links-to-me{

}

@Media screen and (max-width: 992px){
    .below-component{
        width: 129%;
    }   
}