.log-in {
    display: flex;
    align-content: center;
    max-width: 700px;
    max-height: 550px;
    margin-left: 220px;
}

.logmein {
    height: 100px;
    width: 100px;
    margin-right: -126px;
    margin-left: 150px;
    margin-top: 41px;
}

.em-field {
    display: none;
}

.empty {
    display: none;
}

.tip {
    width: 300px;
    color: gray;
    font-size: 17px;
    margin: auto;
    margin-bottom: 10px;
}

.log {
    font-size: 20px;
    color: #fff;
    background: #ff652f;
    border: 1px solid #e65928;
    box-shadow: #e65928 0px 1px 2px 0px;
    margin-right: auto;
    margin-top: 25px;
    width: 85px;
}

.log:hover {
    border-top-color: #f1612c;
    background: #f0531a;
}