.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(194, 189, 189, 0.7);
    z-index: 10;
  }
  
.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.add-friend {
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    border-radius: 6px; 
    background-color: #ffffff;
    width: 564px;
    height: 160px;
    display: flex;
    flex-direction: row;
    position: relative; 
}

.by-email {
  border-radius: 6px;
  background-color: #eee;
  width: 230px;
  height: 110px;
  margin: auto;
  margin-left: 20px;

}

.by-username {
  border-radius: 6px;
  background-color: #eee;
  width: 230px;
  height: 110px;
  margin: auto;
  margin-right: 20px;
}

.or {
  margin: auto;
  align-content: center;
  color: gray; 
}

.email-word {
  text-align: center;
  border: 1 px solid green; 
} 

.username-words {
  text-align: center;
  border: 1 px solid red; 
}

.friend-email-icon {
  border: 2px solid blue; 
  color: gray; 
  margin-left: 100px;
  margin-top: 11px;
}

.friend-user-icon {
  border: 2px solid brown; 
  color: gray; 
  margin-left: 100px;
  margin-top: 11px;
}