.disappear {
    display: none;
}

.present {
    display: flex;
    list-style: none;
}

.navbuttons {
    display: flex;
    list-style: none;
    margin-top: 11px;
    margin-right: 268px;
}

.letters {
    display: flex;
    font-size: 19px;
    padding: 10px;
    font-family: inherit;
    width: 220px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -20px;
    margin-left: 404px;
    font-weight: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 99;
    background: #5bc5a7;
    color: #fff;
    text-shadow: 0 -1px 0 #39a385;
    border-bottom: #48be9d;
    box-shadow: 0 0 3px (0, 0, 0, 0.5);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 95%;
}

.btn-l {
    font-size: 14px;
    border-top: 1px solid #50b195;
    border-bottom: 1px solid #42937c; 
    background:  #5cc4a6;
    color: #fff;
    box-shadow: #39a385 0px 1px 3px 0px;
    text-shadow: rgba(0,0,0,.4) 0 -1px 0;
    margin-right: 20px; 
 }
 
 .btn-l:hover {
    border-top-color: #51a890;
    background: #51a890;
 }

 .btn-s {
    font-size: 14px;
    background: #ff652f;
    border-top: 1px solid #e65928; 
    border-bottom: 1px solid #c14a20;
    color: #fff;
    box-shadow: #e65928 0px 1px 3px 0px;
    text-shadow: rgba(0,0,0,.4) 0 -1px 0;
 }

 .btn-s:hover {
    border-top-color: #f1612c;
    background: #f0531a;
 }

 .btn-large {
    text-align: center; 
    background: #ff652f;
    color: #fff;
    width: 300px;
    height: 75px;
    border: 1px solid #e65928;
    border-radius: 4px;
    box-shadow: #e65928 0px 1px 2px 0px;
    text-shadow: rgba(0,0,0,.4) 0 -1px 0;
    text-decoration: none; 
 }

 .btn-large:hover {
    border-top-color: #f1612c;
    background: #f0531a;
 }

 .signup-line {
    margin-bottom: -14px;
    margin-top: 9px;
    font-weight: 500;
    font-size: 29px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;; 
 }

 .dropdown-menu {
     position: relative;
     display: inline-block; 
 }

.dropdown {
    background-color:#5cc4a6;
    color: white;
    padding: 16px;
    font-size: 16px; 
    border: none;
    cursor: pointer;
}

.dropdown:hover {
    background-color:#1cb489;
}

.link-to-dash {
    text-decoration: none;
    color: #ffffff;
}
