.masthead {
    width: 100%;
    box-shadow: none;
}

.tagline {
    align-items: center;
    text-align: center;
    font-size: 68px;
    margin-bottom: 10px;
    white-space: nowrap;
    font-family: inherit;
    line-height: 36px;
    color: #444;
    text-rendering: optimizeLegibility;
}

.longer-tagline {
    text-align: center;
    font-family: inherit;
    font-size: 21px;
    margin-top: 20px;
    text-rendering: optimizeLegibility;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 26px;
}

.main-images {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 450px;
    padding: 23px 0;
}

.small-img {
    height: 64px;
    width: 64px;
    margin-top: 49px;
    margin-right: 37px;
}

.splash-img {
    height: 441px;
    width: 702.297px;
    position: relative;
    opacity: 1;
    align-content: center;
    transition: transform .2s;
    margin-right: 29px;
}

.splash-small-img {
    height: 441px;
    width: 208.37px;
    align-content: center;
    transition: transform .2s;
    margin-left: -22px;
}

.splash-img:hover {
    transform: translate(50px);
    z-index: 1; 
}

.splash-small-img:hover {
    transform: translate(-50px);
    z-index: 1; 
}

.splash-small-img:hover::before ~ .splash-img {
    opacity: 0.5;
    transform: translate(50px);
}

.splash-img:hover ~ .splash-small-img {
    opacity: 0.5;
    transform: translate(-50px);
}

.signup-container {
    display: flex;
    justify-content: center;
    height: 100px;
}

.signup {
    background-color: #ff641e;
    border-color: #ee530f;
    height: 112px;
    border-radius: 12px;
    width: 302px;
    font-size: 28px;
    text-align: center;
    padding: 12px 20px;
    z-index: 1;
    position: relative;
    margin-top: 3px;
    margin-bottom: 10px
}

.describe-me{
    border: 2px dashed black;
    font-size: 40px;
    font-weight: 300px;
    margin-top: 30px;
    width: 90%;
    height: 200px;
}

@media screen and (max-width: 992px) {
    .masthead{
        margin-left: 129px;
        margin-top: 122px;
    }
}